@using Web.Models.DocumentViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Document";
    var lang = ViewBag.Language;
}

<div class="ui grid">
    <div class="four wide column">
        Здесь будет меню
    </div>
    <div class="twelve wide column">
        <div class="ui raised segment">
            <div class="document">
                @Html.Raw(Model.Content == null ? "" : Model.Content.Content)
            </div>
        </div>
    </div>
</div>

