@{
    ViewData["Title"] = "Document";
    var lang = ViewBag.Language;
}

<div class="ui grid">
    <div class="four wide column">
        Здесь будет меню
    </div>
    <div class="twelve wide column">
        <div class="ui raised segment">
            Здесь будет содержание
        </div>
    </div>
</div>

