@using Web.Models.DocumentViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
    var lang = ViewBag.Language;
}

<partial name="_SearchPanelPartial" model="new SearchViewModel()" />

<div class="ui grid">
    <div class="four wide column">
        <partial name="_FilterPanelPartial" model="new SearchViewModel()" />
    </div>
    <div class="twelve wide column">
        <table class="" id="datatable" style="width:100%">
            <thead style="display:none;">
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/document-controller.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.DocumentController = new DocumentController({
                language: '@lang',
                callback: (data, status, jqXHR, methodName, target) => { }
            });
        });
    </script>
}