@using Web.Models.Document;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
    var lang = ViewBag.Language;
}
@*<partial name="_SearchPanelPartial" model="new SearchViewModel()" />*@

<div class="ui horizontally padded stackable grid">
    <div class="row">
        <div class="four wide column left-subpanel">
            <partial name="_FilterPanelPartial" model="new SearchViewModel()" />
        </div>
        <div class="eight wide column">
            <div class="ui menu">
                <div class="right menu">
                    <a class="item" asp-controller="Document" asp-action="PrintList" target="_blank">
                        <i class="print icon"></i> @Localizer["Print"]
                    </a>

                    <a class="item" asp-controller="Document" asp-action="PrintListWord">
                        <i class="file word outline icon"></i> @Localizer["ExportToWord"]
                    </a>
                </div>
            </div>
            <table class="" id="datatable" style="width:100%">
                <thead style="display:none;">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="four wide column right-subpanel">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/document-controller.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.DocumentController = new DocumentController({
                language: '@lang',
                callback: (data, status, jqXHR, methodName, target) => { }
            });
        });
    </script>
}