@using Web.Models.Document;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
    var lang = ViewBag.Language;
}

<partial name="_SearchPanelPartial" model="new SearchViewModel()" />

<div class="ui grid">
    <div class="four wide column">
        <partial name="_FilterPanelPartial" model="new SearchViewModel()" />
    </div>
    <div class="twelve wide column">
        <div class="ui menu">
            <div class="right menu">
                <a class="item" asp-controller="Document" asp-action="PrintList" target="_blank">
                    <i class="print icon"></i> @Localizer["Print"]
                </a>
            </div>
        </div>
        <table class="" id="datatable" style="width:100%">
            <thead style="display:none;">
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    @*<div class="four wide column">

        </div>*@
</div>

@section Scripts {
    <script src="~/js/document-controller.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.DocumentController = new DocumentController({
                language: '@lang',
                callback: (data, status, jqXHR, methodName, target) => { }
            });
        });
    </script>
}