@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
    var lang = ViewBag.Language;
}

<div class="ui grid">
    <div class="four wide column">
    </div>
    <div class="twelve wide column">
        Главная страница. Краткая информация, ссылки на "Справочник"
    </div>
</div>