@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
    var lang = ViewBag.Language;
}

<div class="ui stackable grid container">
    <div class="row">
        <div class="four wide column">
            <partial name="_DbStatusDocumentPartial" model="ViewBag.DbStatusDocument" />
            <partial name="_TechnicalSupportPartial" />
        </div>
        <div class="twelve wide column">
            <partial name="_DocumentFavoritePartial" model="ViewBag.Favorites" />
            <partial name="_DocumentViewedPartial" model="ViewBag.Viewed" />
        </div>
    </div>
</div>