body {
  background-color: #FFFFFF;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/*NAVIGATION BAR*/
.navigation {
  background-color: #e8e8e8;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.35);
  margin-bottom: 1.5em;
}

.navbar img.logo {
  width: 92px;
}

/*DOCUMENT*/
.document {
  padding: 60px 30px 60px 60px;
  font-family: "Times New Roman";
  font-size: 14px;
  line-height: 1.5px;
}

.document p {
  text-indent: 30px;
  text-align: justify;
}

/**BLUE WOOD**/
/*MENU*/
.ui.bluewood.menu .item {
  background: #2f3f56;
  color: #ffffff !important;
}

.ui.bluewood.menu .item:hover,
.ui.bluewood.menu .active.item, .ui.bluewood.menu .active.item:hover,
.ui.bluewood.menu .dropdown.item:hover {
  border-top: 1px #806d9b !important;
  background: #9f87c0 !important;
}
/*TABLE*/
.ui.bluewood.table thead th {
  background-color: #2f3f56 !important;
  color: rgba(255,255,255,.9);
}

/*BUTTONS*/
.ui.bluewood.button,
.ui.bluewood.buttons .button {
  background-color: #2f3f56;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.bluewood.button:hover,
.ui.bluewood.button:active,
.ui.bluewood.buttons .button:hover,
.ui.bluewood.buttons .button:active {
  background: #9f87c0 !important;
}

.bluewood.footer {
  background-color: #2f3f56 !important;
  color: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08) inset;
  padding-top: 2em;
  margin-top: 1em !important;
}