<div class="ui vertical segment bluewood footer ">
    <div class="ui center aligned container">
        <span>2019 РГП "Институт законодательства и правовой имформации Республики Казахстан"</span>
        <div class="ui inverted section divider"></div>
        @*<img src="assets/images/logo.png" class="ui centered mini image">*@
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>