<div class="ui four cards">
    <a class="green card">
        <div class="content">
            <span class="right floated">Всего документов</span>
            <div class="description"></div>
        </div>
    </a>
    <a class="teal card">
        <div class="content">
            <span class="right floated">Шаблоны документов</span>
            <div class="description"></div>
        </div>
    </a>
    <a class="purple card">
        <div class="content">
            <span class="right floated">Последнее обновление</span>
            <div class="description"></div>
        </div>
    </a>
    <a class="orange card">
        <div class="content">
            <span class="right floated">Правовая консультация</span>
            <div class="description"></div>
        </div>
    </a>
</div>