<div class="ui segment">
    <form class="ui form main search">
        <div class="fields">
            <div class="four wide field">
                <div class="ui fluid dropdown selection" tabindex="0">
                    <select name="SearchContext">
                        <option value="1" selected="selected">Искать в названии</option>
                        <option value="0">Искать по тексту</option>
                    </select>
                    <i class="dropdown icon"></i>
                    <div class="default text">State</div>
                    <div class="menu transition hidden" tabindex="-1">
                        <div class="item" data-value="1">Искать в названии</div>
                        <div class="item" data-value="0">Искать по тексту</div>
                    </div>
                </div>
            </div>
            <div class="twelve wide field">
                <div class="ui action input">
                    <input type="text" name="SearchText" placeholder="SearchText">
                    <div class="ui dropdown blue button">
                        <i class="settings icon"></i>
                        <div class="ui menu transition hidden" tabindex="-1">
                            <div class="item">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="IsNear" checked="checked">
                                    <label>Близость слов</label>
                                </div>
                            </div>
                            <div class="divider "></div>
                            <div class="header">Совпадение:</div>
                            <div class="item">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="LogicalMulti">
                                        <label>Любое ключевое слово (ИЛИ)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="LogicalMulti" checked="checked">
                                        <label>Все ключевые слова(И)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="header">Окончания:</div>
                            <div class="item">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="EndOfWords" checked="checked">
                                        <label>Начало слов</label>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="EndOfWords">
                                        <label>Точный поиск</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui animated button" tabindex="0">
                        <div class="visible content">TitlePrefix</div>
                        <div class="hidden content">
                            <i class="right search icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui accordion field">
            <div class="title">
                <i class="dropdown icon"></i> AdvancedSearch
            </div>
            <div class="content field">
                <div class="ui secondary pointing menu tabular menu">
                    <a class="item active" data-tab="tab-requisite">Requisites</a>
                    <a class="item" data-tab="tab-language"> DocumentLanguage</a>
                    <a class="item" data-tab="tab-npatype">ActForm</a>
                </div>
                <div class="ui tab active" data-tab="tab-requisite">
                    <div class="inline fields">
                        <label>Status:</label>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="HET" tabindex="0" class="hidden">
                                <label>Действующий</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="YTS" tabindex="1" class="hidden">
                                <label>Утратил силу</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="STP" tabindex="2" class="hidden">
                                <label>С истекшим сроком</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab" data-tab="tab-language">
                    Язык документа
                </div>
                <div class="ui tab" data-tab="tab-npatype">
                    Форма акта
                </div>
            </div>
        </div>

    </form>
</div>