@{
    Layout = null;
}

<table class="ui bluewood table">
    <thead>
        <tr class="center aligned">
            <th><i class="headphones icon"></i> Служба поддержки</th>
        </tr>
    </thead>
    <tbody>
        <tr class="center aligned">
            <td><i class="phone icon"></i> +7 7172 57-74-03</td>
        </tr>
        <tr class="center aligned">
            <td><i class="mail icon"></i>support@rkao.kz</td>
        </tr>
        <tr class="center aligned">
            <td>Время работы <br /> 9.00 - 18.00ч <br /> по времени г.Нур-Султан</td>
        </tr>
    </tbody>
</table>