@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = @Localizer["Page"];
}

    <div class="ui relaxed divided list">
        <h4 class="ui center aligned icon header">
            <i class="circular book icon"></i>
            Справочники
        </h4>
        <div class="item">
            <div class="right floated content">
                <a class="ui compact labeled icon button">
                    <i class="play icon"></i> Пуск
                </a>
            </div>
            <i class="large github middle aligned icon"></i>

            <div class="content">
                <div class="header">Справочник языков</div>
                <div class="description">Updated 10 mins ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                <div class="header">Регион действия</div>
                <div class="description">Updated 22 mins ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                <div class="header">Форма акта</div>
                <div class="description">Updated 34 mins ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                <div class="header">Статус документа</div>
                <div class="description">Updated 34 mins ago</div>
            </div>
        </div>

        <h4 class="ui center aligned icon header">
            <i class="circular file alternate outline icon"></i>
            Документы
        </h4>
    </div>